<div class="center jumbotron">
  <h1>Open Mic</h1>

  <h2>
    Amplify your voice.
  </h2>

  <%= link_to "Sign in with Google",  google_login_path, class: "btn btn-lg btn-primary" %><br>
  <%= link_to "Sign in with Facebook",  'auth/facebook', class: "btn btn-lg btn-primary" %><br>
  <%= link_to "Venue Sign Up!", venue_signup_path , class: "btn btn-lg btn-primary" %>

</div>
