<h1 class="welcome-msg">Welcome to Open Mic</h1>
<h3 class="welcome-msg1">Amplify Your Voice!</h3>
<%= link_to "Sign in with Google", google_login_path, class: "btn btn-warning btn-lg margin-top-15" %>
<%= link_to 'Sign in with Facebook', 'auth/facebook', class: "btn btn-primary btn-lg margin-top-15" %>
<%= link_to "Venue Portal", login_path , class: "btn btn-lg btn-primary margin-top-15" %>
