
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  width: 40%;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
}
.userevent {
  border-style: solid;
  height: 80px;
    width: 40%;
  margin-bottom: 10px;
}
.events.show {
  min-height: calc(100vh - 60px);
  background-position: center;
  background-size: cover;
  position: relative;
}

h1 {
  font-weight: bold;
  color: black;
  margin-top: 0px;

  }
