.events.show {
  min-height: calc(100vh - 60px);
  background-position: center;
  background-size: cover;
  position: relative;
// .outer-container {
  background-image: url('/images/single_mic.jpg');
  opacity: 1;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
h1 {
  font-weight: bold;
  color: black;
  margin-top: 0px;

  }
}
