.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  width: 40%;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
}
.userevent {
  border-style: solid;
  height: 80px;
    width: 40%;
  margin-bottom: 10px;
.events.show {
  min-height: calc(100vh - 60px);
  background-position: center;
  background-size: cover;
  position: relative;
// .outer-container {
  background-image: url('/images/single_mic.jpg');
  opacity: 1;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
h1 {
  font-weight: bold;
  color: black;
  margin-top: 0px;
    }
  }
}
