.events.index {
  font-family: tahoma;

  min-height: calc(100vh - 60px);
  background-position: center;
  background-size: cover;
  position: relative;
.outer-container {
  background-image: url('/images/nice_lounge.jpg');
//     background: grey;
    opacity: 0.8;
    background-size: 100%;
}

}

.search {
  width: 500px;
  margin: 0 auto;
  height: 100vh;
text-align: center;
background-color: rgba(255,255,255,0.7);
z-index:1000;
padding-top: 85px;
.events {
  font-size: 20px;
  font-weight: 700;
}
h1 {
  margin-bottom: 50px;
  font-size: 80px;
  font-weight: bold;
  }
.image-container {

  }
.description-container {

  }
}
